.App {
  
  text-align: center;
  
  
}

.appContainer{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: black;
  
  background-repeat: repeat;
  /*animation: slideLeftRight 20000s linear infinite;*/
  
}


.contentContainer{
  background-color: black;
  position: fixed;
  margin-left: 5vw;
  margin-top: 5vh;
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  
  
}

.frontPage {
  
  height: 400px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;

}
.photoContainer{
  height: 200px;
}


.personalPhotoContainer{
  
  width: 150px;
  height: 150px;
  position:relative;
  margin: auto;
  
  
  
}
.personalPhotoContainer img{
  
  
  animation: 
  rotateAnimation 4s linear infinite;
  
}

.typewriter{
  
  
  display: inline-block;
  

  
}

.typewriter h1{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  color: white;
  position: relative;
 
}


@media screen and (max-height: 500px){
  .contentContainer{
    min-height: 500px;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

@keyframes reveal {
  from, to {color: white}
}

@keyframes slideLeft{
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}
@keyframes slideLeftRight{
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-1692px, 0, 0);
  }
  100% {
    transform: translate3d(0px, 0, 0);
  }

  
}

@keyframes floatUpDown {
  from,to {margin-bottom: 0px}
	50% {margin-bottom: 100px}
  
}
@keyframes rotateAnimation {
	from, to{transform: rotateY(0deg);}
	50% {transform: rotateY(180deg);}
}
@keyframes fadeOutCover {
  0%{color: white;}
  100% {color: red;}
}
